node_modules
.next
out
dist
coverage

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
*.tsbuildinfo

.env
.env.local
.env.*.local
backend/.env

!.env.example
!backend/.env.example